@model WeChatHelloWorld1.Models.User_MerchantInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User_MerchantInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WeChatOpenID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeChatOpenID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchantAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
