@model WeChatHelloWorld1.Models.CustomerOrder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>添加订单</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()
    
<div class="weui-cells weui-cells_form">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="weui-cell">
        <div class="weui-cell__hd">
            商家ID
        </div>
        <div class="weui-cell__bd">
            @*@Html.EditorFor(model => model.MerchantID, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.MerchantID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            派送员名字
        </div>

        <div class="weui-cell__bd">
            @Html.EditorFor(model => model.CourierName, new { htmlAttributes = new { @class = "weui-input weui-rt-input" } })
            @Html.ValidationMessageFor(model => model.CourierName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            派送员联系号码
        </div>

        <div class="weui-cell__bd">
            @Html.EditorFor(model => model.CourierPhone, new { htmlAttributes = new { @class = "weui-input weui-rt-input" } })
            @Html.ValidationMessageFor(model => model.CourierPhone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            客户ID
        </div>
        <div class="weui-cell__bd">
            @Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "weui-input weui-rt-input" } })
            @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            客户名字
        </div>
        <div class="weui-cell__bd">
            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "weui-input weui-rt-input" } })
            @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            客户手机
        </div>
        <div class="weui-cell__bd">
            @Html.EditorFor(model => model.CustomerPhone, new { htmlAttributes = new { @class = "weui-input weui-rt-input" } })
            @Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            送货地址
        </div>
        <div class="weui-cell__bd">
            @Html.EditorFor(model => model.DeliveryAdress, new { htmlAttributes = new { @class = "weui-input weui-rt-input" } })
            @Html.ValidationMessageFor(model => model.DeliveryAdress, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:doSubmit()" id="showDialog">确定</a>
    </div>
</div>
}

<script>

    function doSubmit()
    {
        $("#frm").submit();
    }
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
