@model WeChatHelloWorld1.Models.CustomerOrder

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomerOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MerchantID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourierPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourierPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryY)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
