@model WeChatHelloWorld1.Models.User_CustomerInfo

@{
    ViewBag.Title = "删除用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>删除用户</h2>
</br>

<h3>确定要删除此用户吗?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            用户名称
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            联系电话
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            联系地址
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("返回用户列表", "Index")
        </div>
    }
</div>
