@model IEnumerable<WeChatHelloWorld1.Models.User_CustomerInfo>

@{
    ViewBag.Title = "用户信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>用户信息</h2>

<p>
    @Html.ActionLink("创建用户", "Create")
</p>
</br>
<table class="table">
    <tr>
        <th>
            用户名称
        </th>
        <th>
            联系电话
        </th>
        <th>
            联系地址
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.ActionLink("编辑", "Edit", new { id = item.ID }) |
        @Html.ActionLink("详情", "Details", new { id = item.ID }) |
        @Html.ActionLink("删除", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
