@model WeChatHelloWorld1.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>添加商品</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()



    <div class="weui-cells weui-cells_form">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">商品名称 <span class="tips">*</span></label>
            </div>
            <div class="weui-cell__bd">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "weui-input weui-rt-input" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">价格 <span class="tips">*</span></label>
                
            </div>
            <div class="weui-cell__bd">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "weui-input weui-rt-input" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
            <div class="dw">元</div>
        </div>    
        

        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">描述 <span class="tips">*</span></label>                
            </div>
            <div class="weui-cell__bd">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "weui-input weui-rt-input" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd">
                备注
            </div>
            <div class="weui-cell__bd">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "weui-input weui-rt-input" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">图片上传</p>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:doSubmit()" id="showDialog">确定</a>
            </div> 
    </div>
}

<script>

    function doSubmit()
    {
        $("#frm").submit();
    }
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
